body {
	font-family: Arial;
	background-image: url(https://fondosmil.com/fondo/20936.jpg);
	padding: 2.5em;
	text-align: center;
}


h1 {
	font-weight: bolder;
	text-shadow: 7px 4px 5px #E6E437;
	font-size: 300%;
	display: inline-block;
	position: relative;
	color: red;
}

h1::after,h1::before{
	content: '';
	position: absolute;
	width: 150px;
	height: 4px;
	background-color: currentColor;
	top: 0.6em;
	transform: scale(0);
	transition: all 0.2s ease-in;
}

h1:hover::before, h1:hover::after {
	transform: scale(1);
}

h1::before {
	left: -150px;
}

h1::after {
	right: -165px;
}

h2 {
	text-align: left;
}



